/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #121212;
  color: #EDEDED;
  line-height: 1.6;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(18,18,18,0.95);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav .logo {
  font-size: 22px;
  font-weight: bold;
  color: #1F3C5B;
  letter-spacing: 2px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #EDEDED;
  font-size: 15px;
}

.nav a:hover {
  color: #1F3C5B;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url("https://images.unsplash.com/photo-1503387762-592deb58ef4e") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 52px;
  color: #1F3C5B;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* BUTTON */
.btn {
  background: #1F3C5B;
  color: #fff;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
}

.image-text {
  display: flex;
  gap: 50px;
  align-items: center;
}

.image-text img {
  width: 50%;
  border-radius: 8px;
}

.image-text.reverse {
  flex-direction: row-reverse;
}

.section h2 {
  color: #1F3C5B;
  margin-bottom: 15px;
}

.section.dark {
  background: #1A1A1A;
  text-align: center;
}

.points {
  list-style: none;
  margin-top: 30px;
}

.points li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px;
  background: #0F0F0F;
  font-size: 14px;
  color: #777;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero {
    padding: 40px;
    height: auto;
  }

  .hero h1 {
    font-size: 36px;
  }

  .image-text {
    flex-direction: column;
  }

  .image-text img {
    width: 100%;
  }

/* LOGO */
  .logo-img {
    height: 55px;
}
/* SLIDER AVANT / APRES */
.slider {
  position: relative;
  max-width: 600px;
  margin: 30px auto;
}

.slider img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: none;
  border-radius: 8px;
}

.slider img.active {
  display: block;
}
/* LOGO GLOBAL */
.logo-img {
  height: 48px;
  width: auto;
  display: block;
}
